label.accept
    input(type='checkbox'
        name='accept'
        checked=false
        required
        data-event='checkAccept'
        data-target='form').accept__input
    span.accept__content Согласие на обработку<br><a href='/'>персональных данных</a>