extends ../src/core/main

block variables
    - var title = 'О компании'

block content
    main.page
        section.page__section.margin-top-50
            .container
                .page__title.title= title
        //-CONTENT
        section.page__section
            .container
                .columns
                    .columns__left
                        .columns__content.content
                            p Сдаем под ключ изделия из гранита, мрамора, известняка. Проводим все виды работ с природным камнем, а также разрезание блоков и его художественную обработку, с последующей установкой.
                            p Мы специализируемся на произведениях монументального и монументально-декоративного искусства.
                            p Благодаря художественным и декоративным решениям создаётся эстетическая атмосфера, а также организуется архитектурная и ландшафтная среда.  Мы хотим увековечить память исторических событий, даты мировой и отечественной истории, военных и народных героев, главных государственных, политических, общественных, научных и культурах деятелей.
                            p Предлагаем широкий выбор памятников и скульптур, изготовленных из качественных материалов, полностью приспособленных для долгой эксплуатации в сложных климатических условиях. Мы учитываем все пожелания заказчика.
                            p Создаём трехмерные модели, которые позволяют со всех сторон рассмотреть изделие и внести правки до момента изготовления.
                            p Наша компания со всей ответственностью подходит к своей работе на всех стадиях скульптурного процесса: от лепки эскиза до монтажа скульптуры в городскую среду. Любая монументальная скульптура – творческий и сложный процесс, требующий больших усилий на всех этапах создания.
                            p Повышаем уровень доверительных отношений с нашими заказчиками, гарантируем создание уникальной продукции на высоком художественном и профессиональном уровне.
                            p Наша компания выполняет сложные формы, большие размеры с высоким качеством и точностью благодаря высококвалифицированным и опытным специалистам и выполняя поставленные сроки. Приглашаем к сотрудничеству!

                    .columns__right
                        .columns__img
                            picture
                                source(srcset="/images/content/about-m.png" media='(max-width: 767.98px)')
                                source(srcset="/images/content/about.png" media='(max-width: 1279.98px)')
                                source(srcset="/images/content/about.png" media='(max-width: 1919.98px)')
                                img(src="/images/content/about.png" alt='lorem')

