extends ../../src/core/main

block variables
    - var title = 'Изделия из гипса'

block content
    main.page
        section.page__section.margin-top-50
            .container
                .page__title.title= title
        //-CONTENT
        section.page__section
            .container
                .columns
                    .columns__left
                        .columns__content.content
                            p Монументально-декоративная живопись в различных техниках. Мозаика римская и флорентийская, витражи, роспись.
                            p Техника монументально-декоративной живописи – это совокупность приемов создания монументально-декоративного произведения, основанных на умении использовать свойства различных художественных материалов в заданных архитектурных условиях. Знание техники монументально-декоративной живописи дает художнику возможность не только создавать долговечные произведения, но и наилучшим образом использовать живописные материалы с точки зрения соответствия художественному замыслу.
                            p Живопись монументальная – род живописи, относящийся к монументальному искусству. К монументальной живописи относятся произведения, непосредственно связанные с архитектурными сооружениями, помещенные на стены, потолки, своды.
                            p Витраж - произведение декоративного искусства изобразительного или орнаментального характера из цветного стекла, рассчитанное на сквозное освещение и предназначенное для заполнения проёма, чаще всего оконного, в каком-либо архитектурном сооружении.
                            p Мозаика - декоративно-прикладное и монументальное искусство разных жанров, произведения которого подразумевают формирование изображения посредством компоновки, набора и закрепления на поверхности разноцветных камней, смальты, керамических плиток и других материалов.
                            h6 ЖИВОПИСЬ И ВИТРАЖИ
                            p Выполняем работы по монументальной живописи и созданию витражей по Вашим и по готовым эскизам
                            h6 МОЗАИКА
                            p Создаем композиции по мозайке из камней, смальты, керамических плиток и других материалов

                            a(href="/services/")
                                span наши работы
                                <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M35.7071 8.70711C36.0976 8.31658 36.0976 7.68342 35.7071 7.29289L29.3431 0.928932C28.9526 0.538408 28.3195 0.538408 27.9289 0.928932C27.5384 1.31946 27.5384 1.95262 27.9289 2.34315L33.5858 8L27.9289 13.6569C27.5384 14.0474 27.5384 14.6805 27.9289 15.0711C28.3195 15.4616 28.9526 15.4616 29.3431 15.0711L35.7071 8.70711ZM35 7H0V9H35V7Z" fill="#E4A763"/>
                                </svg>
                    .columns__right
                        .columns__img
                            picture
                                source(srcset="/images/content/gypsum-m.png" media='(max-width: 767.98px)')
                                source(srcset="/images/content/gypsum.png" media='(max-width: 1279.98px)')
                                source(srcset="/images/content/gypsum.png" media='(max-width: 1919.98px)')
                                img(src="/images/content/gypsum.png" alt='lorem')

