extends ../src/core/main

block variables
    - var title = 'Минский скульптурный комбинат Белорусского союза художников'

block content
    main.page
        section.page__section.margin-top-50
            .container
                .page__title.title= title
        //-CONTENT
        section.page__section
            .container.columns__container
                .columns.columns--type3
                    .columns__left
                        .columns__content.content
                            p Унитарное предприятие «СКУЛЬПТУРНЫЙ КОМБИНАТ» общественного объединения «Белорусский союз художников» начал работу в городе Минске с 1958 года. В то время комбинат входил в состав Минского художественно-производственного комбината как специальное подразделение – скульптурный цех.
                            p В 1991 году на заседании Президиума Правления союза художников БССР был (протокол № 12 от 10.07.1991г.) было принято решение создать скульптурный комбинат путем выделения его из Минского художественно-производственного комбината.
                            p Таким образом, на базе скульптурного цеха был образован Скульптурный комбинат общественного объединения «Белорусский союз художников», который в настоящее время называется Художественное унитарное предприятие «СКУЛЬПТУРНЫЙ КОМБИНАТ» общественного объединения «Белорусский союз художников».
                            p Сегодня Художественное унитарное предприятие «СКУЛЬПТУРНЫЙ КОМБИНАТ» специализируется на производстве произведений монументального и монументально-декоративного искусства, предназначенных для:
                            p — увековечивания памяти о важнейших исторических и общественных событий, знаменательных датах мировой и отечественной истории, культуры, известных государственных, политических и общественных деятелей, военных, народных героев, деятелей науки, искусства и культуры;
                            p — формирования художественно-декоративными средствами эстетической среды, украшения и организации архитектурной или ландшафтной среды.
                            p Создание монументальной скульптуры — это творческий и трудоёмкий процесс. Любой монумент или памятник требует больших усилий на всех этапах своего воплощения — от лепки эскиза до монтажа в городской среде. Работники комбината на всех стадиях скульптурного процесса подходят с большой ответственностью.
                .columns.columns--type3
                    .columns__left
                        .columns__content.content
                            p Сотрудничество с членами Белорусского союза художников гарантирует высокий художественный и профессиональный уровень уникальной продукции нашего предприятия.
                            p «Достойно и в срок» — это важный аспект скульптурного производства, который выполняется работниками комбината.
                            p Комбинат имеет свою производственную базу, включающую в себя:
                            p 1. Металлообрабатывающее производство с цветным литьем, расположенное по адресу г.Минск, ул.Радиальная,11а, площадью 1438,00 кв.м.
                            p Выполняются следующие технологические процессы: изготовление холоднотвердеющей смеси в смешивающих бегунах, формовка, заливка формы металлом, выбивка отливки из формы, обрубка, пескоструйная обработка изделий, сварка, сборка, нанесение защитного покрытия.
                            p 2.Цех скульптурно-технических работ, расположен по адресу г.Минск, пр.Независимости,40б, площадью 365,00 кв.м.
                            p Выполняются следующие технологические процессы: прокладка и увеличение скульптурных произведений, изготовление гипсовых и формосиловых форм, отливка в гипсе и бетоне произведений, а также вспомогательные столярные и металлокаркасные работы.
                            p На базе СКУЛЬПТУРНОГО КОМБИНАТА проходят производственную практику студенты по специализации «скульптура» Белорусской государственной академии искусств, проводятся мастер-классы для студентов Минского государственного художественного колледжа им Глебова. Студенты школ и гимназий принимают участие в экскурсиях по ознакомлению с процессом создания скульптуры.
                            p Приглашаем к сотрудничеству!

