.main-about
    .main-about__left
        .content.main-about__content
            h3 ПСС
            h5 ПЕРВЫЙ СКУЛЬПТУРНЫЙ СОЮЗ
            p Мы являемся официальными представителями Минского скульптурного комбината Белорусского союза художников в России. Специализируемся на производстве монументального и монументально-декоративного искусства.
            a(href=GLOBALS.menu.about.href)
                span подробнее
                <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.7071 8.70711C36.0976 8.31658 36.0976 7.68342 35.7071 7.29289L29.3431 0.928932C28.9526 0.538408 28.3195 0.538408 27.9289 0.928932C27.5384 1.31946 27.5384 1.95262 27.9289 2.34315L33.5858 8L27.9289 13.6569C27.5384 14.0474 27.5384 14.6805 27.9289 15.0711C28.3195 15.4616 28.9526 15.4616 29.3431 15.0711L35.7071 8.70711ZM35 7H0V9H35V7Z" fill="#E4A763"/>
                </svg>

    .main-about__right
        .main-about__img
            picture
                source(srcset="/images/content/main-about/img-m.png" media='(max-width: 767.98px)')
                source(srcset="/images/content/main-about/img.png" media='(max-width: 1279.98px)')
                source(srcset="/images/content/main-about/img.png" media='(max-width: 1919.98px)')
                img(src="/images/content/main-about/img.png" alt='ПСС')
