-
    var GLOBALS = {
        test: 'test',
        menu: {
            main: {
                href: '/',
                title: 'Главная'
            },
            about: {
                href: '/about/',
                title: 'О компании',
            },
            gallery: {
                href: '/gallery/',
                title: 'Наши работы',
            },
            services: {
                href: '/services/',
                title: 'Наши услуги',
                items: [
                    {
                        href: '/services/sculpture/',
                        title: 'Скульптура',
                        img: '/images/content/services/1.jpg',
                        desc: 'Монументальная и монументально-декоративная скульптура, в том числе городская, парковая, мемориальная, бюсты'
                    },
                    {
                        href: '/services/gypsum/',
                        title: 'Изделия из гипса',
                        img: '/images/content/services/2.jpg',
                        desc: 'Изделия из гипса, пластика, натурального камня, металика.'
                    },
                    {
                        href: '/services/painting/',
                        title: 'Живопись и витражи',
                        img: '/images/content/services/3.jpg',
                        desc: 'Монументально-декоративная живопись в различных техниках. Мозаика римская и флорентийская, витраж, роспись'
                    },
                    {
                        href: '/services/souvenir/',
                        title: 'Сувенирная продукция',
                        img: '/images/content/services/4.jpg',
                        desc: 'Сувенирная продукция из металла, гипса и пластика'
                    },

                ]
            },
            combinat: {
                href: '/combinat/',
                title: 'Минский скульптурный комбинат',
            },
            contacts: {
                href: '/contacts/',
                title: 'Контакты',
            },
        },
        email: {
            href: 'tel:+79037262804',
            txt: '+7 903 726 28 04'
        },
        tel: {
            href: 'mailto:ep@ps-sever.ru',
            txt: 'ep@ps-sever.ru'
        }
    };