extends ../../src/core/main

block variables
    - var title = 'Скульптура'

block content
    main.page
        section.page__section.margin-top-50
            .container
                .page__title.title= title
        //-CONTENT
        section.page__section
            .container
                .columns
                    .columns__left
                        .columns__content.content
                            p Скульптура – это вид изобразительного искусства. Скульптура может быть изготовлена в любом жанре. Материалы для изготовления скульптуры многообразны: металл, камень, глина, гипс, дерево и др.
                            p Монументальная скульптура – скульптура, непосредственно связанная с архитектурной средой и отличающаяся крупными масштабами и значительностью идей. Располагаясь в городской или природной среде, она организовывает архитектурный ансамбль, органично входит в естественный ландшафт, украшает площади, архитектурные комплексы, создавая пространственные композиции, которые могут включать в себя архитектурные сооружения.
                            p К монументальной скульптуре относятся однофигурные, многофигурные, памятники, мемориальные ансамбли, монументы в честь выдающихся людей и значительных исторических событий, памятные статуи, бюсты, рельефы.
                            p Монументально-декоративная скульптура - скульптура, тесно связанная с архитектурой и природным ландшафтом. К монументально - декоративной скульптуре относятся садово-парковая скульптура: статуи, бюсты, фонтаны, декоративные вазы; городская скульптура, связанная с оформлением фасадов и интерьеров зданий, мостов, триумфальных арок, малых архитектурных форм, которая включается в естественную городскую среду.
                            h6 МОНУМЕНТАЛЬНАЯ СКУЛЬПТУРА
                            p Создаем памятники, мемориальные ансамбли, монументы, статуи, бюсты, рельефы.
                            h6 МОНУМЕНТАЛЬНО-ДЕКОРАТИВНАЯ СКУЛЬПТУРА
                            p Садово-парковая и городская скульптура
                            a(href="/services/")
                                span наши работы
                                <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M35.7071 8.70711C36.0976 8.31658 36.0976 7.68342 35.7071 7.29289L29.3431 0.928932C28.9526 0.538408 28.3195 0.538408 27.9289 0.928932C27.5384 1.31946 27.5384 1.95262 27.9289 2.34315L33.5858 8L27.9289 13.6569C27.5384 14.0474 27.5384 14.6805 27.9289 15.0711C28.3195 15.4616 28.9526 15.4616 29.3431 15.0711L35.7071 8.70711ZM35 7H0V9H35V7Z" fill="#E4A763"/>
                                </svg>
                    .columns__right
                        .columns__img
                            picture
                                source(srcset="/images/content/sculpture-m.png" media='(max-width: 767.98px)')
                                source(srcset="/images/content/sculpture.png" media='(max-width: 1279.98px)')
                                source(srcset="/images/content/sculpture.png" media='(max-width: 1919.98px)')
                                img(src="/images/content/sculpture.png" alt='lorem')

