.btns
    button(type='button' data-event='up').btns__up
        span наверх
        <svg width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M36.2071 8.20711C36.5976 7.81658 36.5976 7.18342 36.2071 6.79289L29.8431 0.428932C29.4526 0.0384078 28.8195 0.0384078 28.4289 0.428932C28.0384 0.819457 28.0384 1.45262 28.4289 1.84315L34.0858 7.5L28.4289 13.1569C28.0384 13.5474 28.0384 14.1805 28.4289 14.5711C28.8195 14.9616 29.4526 14.9616 29.8431 14.5711L36.2071 8.20711ZM35.5 6.5H0.5V8.5H35.5V6.5Z" fill="#A9A8A8"/>
        </svg>
    button(type='button' data-event='openForm' data-name="call").btns__call
        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.1425 14.8578L2.8 17L3.3895 12.9333C1.9045 11.6667 1 9.97333 1 8.11111C1 4.18222 5.0275 1 10 1C14.9725 1 19 4.18222 19 8.11111C19 12.04 14.9725 15.2222 10 15.2222C9.001 15.2222 8.038 15.0933 7.1425 14.8578Z" stroke="white" stroke-miterlimit="8" stroke-linecap="square"/>
        </svg>

