.contacts
    .container
        .contacts__wrap
            .contacts__left
                .contacts__title.title Контакты
                .contacts__items
                    .contacts__item.contact
                        .contact__title Телефон
                        a(href=GLOBALS.tel.href).contact__val= GLOBALS.tel.txt
                    .contacts__item.contact
                        .contact__title Почта
                        a(href=GLOBALS.email.href).contact__val= GLOBALS.email.txt
                    .contacts__item.contact
                        .contact__title Адрес
                        .contact__val
                            | 123007, г. Москва,
                            br
                            | ул. Магистральная 5-я,
                            br
                            | д. 20



    .contacts__map.
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3f3d098ef2d46398066d9e521ce1e1c9f22d0cb95f0d04c15c63d97f04e851b8&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
